<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Торговая сеть</title>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <div th:include="navbar :: navbar"></div>
</head>
<body>
<div class="form container">
    <label th:if="${cnetwork} == null" class="form-title">Регистрация</label>
    <label th:if="${cnetwork} != null" class="form-title">Изменение информации</label>
    <form id="form" th:action="@{/add/cnetwork/post}" method="post">
        <input type="hidden" th:name="id" th:value="${cnetwork?.getId()}" />
        <div th:if="${cnetwork} == null">
            <p>Логин</p>
            <input required type="text" placeholder="Логин"
                   th:name="username"/>
            <p>Пароль</p>
            <input required type="password" placeholder="Пароль"
                   th:name="password"/>
        </div>
        <div th:if="${cnetwork} != null">
            <input required type="hidden" th:name="username"/>
            <input required type="hidden" th:name="password"/>
        </div>
        <p>Название</p>
        <input required type="text" placeholder="Табакерка Ивана" th:value="${cnetwork?.getName()}"
               th:name="name"/>
        <p>Логотип</p>
        <div class="row-container">
            <img id="logo" th:src="${cnetwork?.getImage()?.getUrl()}">
            <input id="logo-input" type="url" placeholder="logo.com"
                   th:value="${cnetwork?.getImage()?.getUrl()}" th:name="logo"/>
        </div>
        <p>Описание</p>
        <textarea placeholder="Описание торговой сети" th:name="info"
                  th:text="${cnetwork?.getInfo()}"></textarea>
        <input type="submit" th:value="${btntext}">
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/logo.js}"></script>
</body>
</html>