<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление магазина</title>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <div th:include="navbar :: navbar"></div>
</head>
<body>
<div class="form container">
    <form id="form" th:action="@{/add/eliquid/post}" method="post">
        <div th:include="/add/product :: product-input"></div>
        <p>Объём</p>
        <div class="input-group">
            <input type="number" min="0" step="1" class="form-control" th:name="volume">
            <div class="input-group-append">
                <span class="input-group-text">мл</span>
            </div>
        </div>
        <p>Никотин</p>
        <div class="input-group">
            <input type="number" min="0" step="1" class="form-control" th:name="nicotine">
            <div class="input-group-append">
                <span class="input-group-text">мл</span>
            </div>
        </div>
        <p>Солевой никотин</p>
        <div class="input-group">
            <input type="number" min="0" step="1" class="form-control" th:name="saltNicotine">
            <div class="input-group-append">
                <span class="input-group-text">мл</span>
            </div>
        </div>
        <p>Соотношение</p>
        <select id="blendRatio" th:name="blendRatioId" style="margin-bottom: 0">
            <option th:each="i : ${blendRatio}" th:value="${i.getId()}" th:text="${i.getString()}">
            </option>
        </select>
        <a href="" data-toggle="modal" data-target="#blendRatioModal">
            Не нашли нужное соотношение?
        </a>
        <input type="submit" value="Добавить">
    </form>
</div>
<div th:include="/add/blend-ratio :: blend-ratio-input"></div>
<div th:include="/add/brand :: brand-input"></div>
</body>
</html>