<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление магазина</title>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
</head>

<body>
<div class="form container">
    <form id="form" th:action="@{/add/vapeshop/post}" method="post">
        <div th:include="/add/address :: address-input"></div>
        <div class="numbers-container" id="numbers-container">
            <div class="row-container">
        <p>Номер телефона</p>
        <i class="material-icons add" id="add-phone">add_circle_outline</i>
            </div>
            <input required class="phone"
                   th:name="phonenumber"
                   type="tel"
                   name="phone">
        </div>
        <p>E-mail</p>
        <input required type="email" placeholder="vape@pdu.by" th:name="email"/>
        <p>Instagram</p>
        <input type="url" placeholder="www.instagram.com/vape" th:name="instagram"/>
        <p>Вконтакте</p>
        <input type="url" placeholder="vk.com/vape" th:name="vk"/>
        <input type="submit" value="Добавить">
    </form>
</div>
<script src="https://unpkg.com/imask"></script>
<script type="text/javascript" th:src="@{/js/phone.js}"></script>
</body>
</html>