<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление магазина</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <div th:include="navbar :: navbar"></div>
</head>
</head>
<body>
<div class="form container">
    <label class="form-title">Добавление магазина</label>
    <form id="form" th:action="@{/add/vapeshop/post}" method="post">
        <p>Изображения</p>
        <div class="one-to-one-container">
            <div class="two-row-container">
                <div>
                    <div class="i-container">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active" id="first-image-div">
                                    <img class="d-block w-100" id="first-image">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="scrollable-y-container">
                    <div>
                        <div class="row-container">
                            <p style="margin-top: 0; margin-bottom: 0;">Ссылки</p>
                            <i class="material-icons add" id="add-image">add_circle_outline</i>
                        </div>
                        <div id="images-container">
                            <input required class="image"
                                   id="first-image-input"
                                   th:name="images"
                                   type="url"
                                   name="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="/add/address :: address-input"></div>
        <div class="numbers-container" id="numbers-container">
            <div class="row-container">
        <p>Номер телефона</p>
        <i class="material-icons add" id="add-phone">add_circle_outline</i>
            </div>
            <input required class="phone"
                   th:name="phonenumber"
                   type="tel"
                   name="phone">
        </div>
        <p>E-mail</p>
        <input required type="email" placeholder="vape@pdu.by" th:name="email"/>
        <p>Instagram</p>
        <input type="url" placeholder="www.instagram.com/vape" th:name="instagram"/>
        <p>Вконтакте</p>
        <input type="url" placeholder="vk.com/vape" th:name="vk"/>
        <input type="submit" value="Добавить">
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/image.js}"></script>
<script src="https://unpkg.com/imask"></script>
<script type="text/javascript" th:src="@{/js/phone.js}"></script>
</body>
</html>