.bordered-container {
    display: inline-block;
    margin: 5px 5px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}
.logo {
    width: 50px;
    height: 50px;
}

.title-container label {
    font-size: 50px;
    margin: 0;
    padding-left: 10px;
}

.row-container{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.title-container {
    justify-content: space-between;
    background-color: lightgray;
}

#log-out-btn, #log-out-btn i {
    color: coral;
}