<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление магазина</title>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <div th:include="navbar :: navbar"></div>
</head>
<body>
<div class="prod">
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                12.21<br>
                Boshki/Aeqweqweqweqweqweqwewqeqwe
            </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0280/7756/products/Halcyon_-_100_Dragon_Chi_FDA_Black_Cap_2000x.jpg?v=1552542840" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
</body>
</html>