<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sing-in">
    <div class="modal fade" id="singInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="sing-in-result"><p></p></div>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Вход</h5>
                    <div class="row-container-end"><a href="/add/cnetwork">Регистрация</a></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/login}" id="sing-in" method="post">
                        <input id="username" type="text" placeholder="User" name="username"/>
                        <input id="password" type="password" placeholder="Password" name="password"/>
                        <input type="submit" value="Войти">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>